/* 08.22: プレイヤー下のタブボックスにあった「ニコ生セッション♪」を非表示に。 */

@charset "utf-8";
@-moz-document url-prefix("http://live.nicovideo.jp/watch/") {
  /* 全般 */
  #page_header,
  #wall_chip_area,
  #watch_player_bottom_box,
  #watch_zapping_box,
  #utility_link,
  #page_footer,
  #body_footer_wrap { display: none !important; }

  /* 微調整 */
  #watch_title_box { padding: 8px 0px !important; }
  .slider_container { padding: 0px 0px 8px !important; }

  /* 気になったやつ */
  #watch_title_box { border-bottom-width: 0px !important; box-shadow: none !important; }
  #watch_tab_box .creator_btn_area { display: none !important; }
  /* 時間のスタイル変更したかったけど微妙 */ #watch_tab_box .view p.information { font-size: 16px !important; font-weight: bold !important; text-decoration: underline; }
  #watch_tab_box .commu_status { display: none !important; }
  #watch_tab_box ul#tab li#netduetto_tab { display: none !important; }

  /* 広告 */
  #advertisement_box,
  #footer_ads { display: none !important; }

  /* タグ */
  .livetag_box { display: none !important; }

  /* プレイヤー */
  #watch_player_bottom_box .box_inner { padding: 0px 0px 8px !important; }
  #watch_tab_box { padding: 0px !important; border-bottom-width: 0px !important; box-shadow: none !important; }
  #watch_tab_box .view #side_area { display: none !important; }

  /* プレイヤー背景 */
  /* #wall_canvas { background-image: url() !important; } */
  #wall_canvas #wall img { display: none !important; }

  /* ニコニコホラー用 */
  #horror2015_key { display: none !important; }
  #horror2015_watch_container { padding: 0px !important; }
}
